@page "/"

<div id="container">
    <CameraStreamer @ref=CameraStreamerReference
                Width=1920
                Height=1080
                OnRendered=OnRenderedHandler
                OnFrame=OnFrameHandler
                Style="width: 100%; height: 100%;"
                CameraID=@cameraId
                Autostart />
    <div id="frame" style=@trackingStyle/>
 </div>
 <div id="mood">Happy</div>

<div>
    <button @onclick=Start>
        Start
    </button>
    <button @onclick=Stop>
        Stop
    </button>
</div>

<button @onclick=GetCurrentFrame>
    Get Current Frame
</button>

<br />

@code
 {
    private CameraStreamer CameraStreamerReference;

    private string cameraId = null;

    private int frameCount;

    private string imageData;

    private string trackingStyle = "";

    private async void OnRenderedHandler()
    {
        frameCount = 0;

        // Check camera-access or ask user, if it's not allowed currently
        if (await CameraStreamerReference.GetCameraAccessAsync())
        {
            // Reloading re-initializes the stream and starts the
            // stream automatically if the Autostart parameter is set
            await CameraStreamerReference.ReloadAsync();

            // If Autostart is not set, you have to manually start the stream again
            /* await CameraStreamerReference.StartAsync(); */
        }
    }

    private async void Start()
    {
        await CameraStreamerReference.StartAsync();
    }

    private async void Stop()
    {
        await CameraStreamerReference.StopAsync();
    }

    private void OnFrameHandler(string _)
    {
        ++frameCount;
    }

    private async void GetCurrentFrame()
    {
        imageData = await CameraStreamerReference.GetCurrentFrameAsync();
        var rand = new Random();
        var x = rand.Next(200, 280);
        var y = rand.Next(120, 150);
        TrackImage(x, y, 100, 200);
        ChangeColor("red");
    }

    private void TrackImage(int x, int y, int width, int height)
    {
        trackingStyle = trackingStyle.ToTrackingStyle(x, y, width, height);
    }

    private void ChangeColor(string color)
    {
        trackingStyle = trackingStyle.ToColorStyle(color);
    }
}